table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;    
}
.table-input>.row{
    padding-left:5%;
}

.table-input{
    width:90%;
    margin-bottom: 2%;
}

.table-input>.row>div input{
    border:none;
    border-bottom:1px solid black;
    border-top: 1px solid black;
}

.table-input>.row>div input:focus{
    border:none;
}

.table-input>.row>div{
    outline: 1px solid black;
}
.error {
    color: #F00;
    background-color: #FFF;
  }
.id-icon{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1em;
    cursor: pointer;
}
.id-icon:hover{
    color: #424242;
}
.colored-header {
    background-color: var(--primary-color);
    color:white;
    border-style:double;
}
.textbox {
    display: flex;  
    flex-wrap: wrap;
}
.textbox input {
    background-color: #FFF;
    width: 90%;
}
.prepend_text {
    border: 1px solid #eeeeee;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    width: 10%;
}