table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 2%;
}
input{
    width: 100%;
}
table, th, tr, td{
    padding: none;
}
span {
    display: inline-block;
}
.table-layout-fixed {
    table-layout: fixed;
    width:100%;
  }
  
.table-layout-fixed > th,
td {
    width: 100px;
    overflow: hidden;
}
.table-wrapper{
    overflow: auto;
}
.colored-header {
    background-color: var(--primary-color);
    color:white;
    border-style:double;
}