table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;    
}
.table-input>.row{
    padding-left:5%;
}

.table-input{
    width:90%;
    margin-bottom: 2%;
}

.table-input>.row>div input{
    border:none;
    border-bottom:1px solid black;
    border-top: 1px solid black;
}

.table-input>.row>div input:focus{
    border:none;
}

.table-input>.row>div{
    outline: 1px solid black;
}
.error {
    color: #F00;
    background-color: #FFF;
  }
.id-icon{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1em;
    cursor: pointer;
}
.id-icon:hover{
    color: #424242;
}
.colored-header {
    background-color: var(--primary-color);
    color:white;
    border-style:double;
}
.textbox {
    display: flex;  
    flex-wrap: wrap;
}
.textbox input {
    background-color: #FFF;
    width: 90%;
}
.prepend_text {
    border: 1px solid #eeeeee;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    width: 10%;
}
.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 2%;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* Hide the browser's default checkbox */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2.7%;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-check input:checked ~ .checkmark {
    background-color:var(--primary-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-check .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  