:root{
    --primary-color:rgb(193, 13, 109);
}

th{
    background-color: var(--primary-color);
    color:white;
}


html, body {
    background: #e0e0e0;
}
.fa, .fab, .far, .fas{
    margin: 0;
    padding: 6px;
    margin-right: 3px;
}
.main-content {
    margin-top: 20px;
}
.nav-link, .side-tab, .tab-pane {
    border-radius: 15px;
}
.side-tab, .tab-pane {
    background: #fafafa;
}
.side-tab {
    position: fixed;
}
.tab-content {
    margin-bottom: 12px; 
}
.tab-pane {
    padding: 20px;
}
.sidebar-header {
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size:  20px;
}


.content_wrapper{
overflow:auto;
max-height: 600px;
margin-bottom: 2%;
font-size: 14px;
}

.check{
    display: inline;
}

@media (max-width: 768px) {
    /* For mobile devices */
    /* This is to make the side bar and the main tabs stack on top of each other*/
    .side-tab {
        position: static;
        margin-bottom: 12px;
    }
    .tab-pane {
        padding: 12px;
    }
    .table-wrapper{
        overflow: auto;
    }
}
#full-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: all 1s ease-in-out;
}
#loading-icon{
    color:white;
    position: absolute;
    top: 35%;
    left: 40%;
    text-align: center;
}
#loading-content {
    font-size: 20px;
}

@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
    /* for tablets*/
    .side-tab {
        position: static;
        margin-bottom: 12px;
    }

}